
export PYTHONPATH=${PYTHONPATH}:${PWD}/lib
export PATH=${PATH}:${PWD}/bin

export FLASK_APP=webapp.main

export ARDUINO_PORT=$(eval arduino-cli board list --format json | jq -r 'map(.port | select(.properties) | .address)[0]')
