
export PYTHONPATH=${PYTHONPATH}:${PWD}/lib
export PATH=${PATH}:${PWD}/bin

export FLASK_APP=webapp.main

export ARDUINO_PORT=$(eval arduino-cli board list --format json | jq -r 'map(.port | select(.properties) | .address)[0]')
export APRILTAG_IMGS=~/Projects/apriltag-imgs

# overcomes the following error:
# ImportError: /usr/lib/aarch64-linux-gnu/libgomp.so.1: cannot allocate memory in static TLS block
export LD_PRELOAD=/usr/lib/aarch64-linux-gnu/libgomp.so.1
